body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #fdc0c1,#9a70c9);
}
#root {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    min-height: 100vh;
}